.nav {
  background: #fffe linear-gradient(330deg, #f0f3, #0f03);
  border-bottom: 1px solid #fff3;
  padding: 0.25rem 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.homeLink {
  font-weight: bold;
}

.miniBag {
  align-items: center;
  appearance: none;
  background: none;
  border: 0 none;
  display: flex;
  font-size: 1rem;
  padding: 0;
}

a.miniBag {
  cursor: pointer;
}

span.miniBag {
  color: #0009;
  cursor: not-allowed;
}

.miniBag svg {
  margin-left: 5px;
}
