.price {
  font-size: 1rem;
  font-weight: bold;
}

.displayPrice {
  margin-right: 0.5rem;
}

.priceType {
  border: 1px solid black;
  border-radius: 4px;
  display: inline-block;
  font-size: 0.85rem;
  padding: 0.125rem 0.5rem;
  position: relative;
  text-transform: uppercase;
}
