.link {
  border: 1px solid #3339;
  border-radius: 0.5rem;
  color: black;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem 1rem;
  text-shadow: #0f03 -0px 0 0, #f0f3 0px 0 0;
  background-image: linear-gradient(330deg, #ffff, #ffff);
}

.link:hover,
.link:focus {
  outline: none;
  transition: all 0.1s;
  border-color: #f9f3;
  background-image: linear-gradient(330deg, #0f02, #f0f2);
}

.link:active {
  border-color: #f0f9;
  background-image: linear-gradient(330deg, #0f04, #f0f4);
}