.nav {
  background: #fffe;
  color: #000;
  padding: 0.5rem 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.nav::after {
  background: #fffb linear-gradient(330deg, #f0fb, #eeeb, #0f0b);
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 100;
  height: 2px;
}

.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.homeLink {
  position: relative;
  top: 4px;
  left: 3px;
}

.homeLink:active path {
  fill: #f0f;
}

.homeLink,
.miniBag {
  color: #000;
  letter-spacing: 0.25rem;
}

.logo {
  height: 30px;
  width: 30px;
}

.miniBag {
  align-items: center;
  appearance: none;
  background: none;
  border: 0 none;
  display: flex;
  font-size: 1.2rem;
  padding: 0;
}

a.miniBag {
  cursor: pointer;
}

span.miniBag {
  color: #0006;
  cursor: not-allowed;
}

.miniBag svg {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}
